<div class="game-container">
    <h6 class="smaillTitle">בס"ד</h6>
    <h1>🧠 משחק לוח הכפל 🧠</h1>

    <button class="start-btn" (click)="startGame()">🎮 התחל משחק</button>

    <div *ngIf="isGameActive" class="game-box">
        <h2>⏱ נשארו: {{ timeLeft }} שניות</h2>
        <h3>שאלה: <span class="question">{{ currentQuestion }}</span></h3>

        <div class="answer-display">{{ userAnswer || '' }}</div>

        <!-- כפתורי מספרים -->
        <div class="buttons-grid">
            <button *ngFor="let num of numberButtons" (click)="selectNumber(num)">
                {{ num }}
            </button>
        </div>

        <!-- מחק ושגר תשובה -->
        <div class="action-buttons">
            <button class="delete" (click)="clearAnswer()">מחיקה⌫</button>
            <button class="submit" (click)="checkAnswer()">בדיקה✔</button>
        </div>
        <h3>✅ ניקוד: {{ score }}</h3>
    </div>

    <div *ngIf="gameOverMessage" class="game-over">
        {{ gameOverMessage }}
    </div>
</div>