body {
  margin: 0;
  padding: 0;
  /* נוודא שהרקע מתיחת על כל המסך */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  transition: background-image 0.8s ease-in-out;
}

/* ב־styles.scss או ב־css של AppComponent */
.bg-container {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: -1; /* מתחת לכל התוכן */
  overflow: hidden;
}
 
.bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ימלא, ישמור פרופורציות, ויחתוך רק במידת הצורך */
}